{% extends 'core/dash_base.html' %} 
{% load crispy_forms_tags %} 
{% load static %}



{% block content %} 

<center><h1>Toutes Vos Annonces</h1></center>
<table>
    <tr>
        <th>Titre</th>
        <th>Price</th>
        <th>Details</th>
        <th>modifier</th>
        <th>Delete</th>

    </tr>
    {% for annonce in annonces %}
    <tr>
        <td>{{annonce.voiture.model.nom}}</td>
        <td>{{annonce.prix}}</td>
        <td><button><a href="{% url 'annonce_details' pk=annonce.id %}">Details</a></button></td>
        <td><button><a href="{% url 'update_annonce' pk=annonce.id %}">modifier</a></button></td>
        <td><button><a href="{% url 'delete_annonce' pk=annonce.id %}">Delete</a></button></td>
    </tr>
    {% endfor %}
    <tr>
        <td>Yaris</td>
        <td>2.000.000</td>
        <td><button><a href="Details.html">Details</a></button></td>
        <td><button><a href="Details.html">modifier</a></button></td>
        <td><button>
            <a href="Delete.html">Delete</a>
        </button></td>
    </tr>
<tr>
    <td>Yaris</td>
    <td>2.000.000</td>
    <td><button><a href="Details.html">Details</a></button></td>
    <td><button><a href="Details.html">modifier</a></button></td>
    <td><button>
            <a href="Delete.html">Delete</a>
        </button></td>
</tr>
<tr>
    <td>Yaris</td>
    <td>2.000.000</td>
    <td><button><a href="Details.html">Details</a></button></td>
    <td><button><a href="Details.html">modifier</a></button></td>
<td><button>
        <a href="Delete.html">Delete</a>
    </button></td>
</tr>
</table>
<br>
<center><h1>Toutes Vos Voitures</h1></center>
<table>
    <tr>
        <th>Model</th>
        <th>Marque</th>
        <th>Prix</th>
        <th>modifier</th>
        <th>Delete</th>

    </tr>
    {% for voiture in voitures %}
    <tr>
        <td>{{voiture.model.nom}}</td>
        <td>{{voiture.model.marque.nom}}</td>
        <td>{{voiture.prix}}</td>
        <td><button><a href="{% url 'update_voiture' pk=voiture.id %}">modifier</a></button></td>
        <td><button><a href="{% url 'delete_voiture' pk=voiture.id %}">Delete</a></button></td>
    </tr>
    {% endfor %}
    
</table>

{% endblock content %}
