{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Annonce Ventes</title>

    <!-- bloc pour définir les métas de la page du la page -->
    {% block meta %} 

    {% endblock meta %} 

    <!-- bloc pour le style Css de la page soit le path vers votre fichier Css dans le static folder-->
    {% block styles %} 

    {% endblock styles %}

    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
  </head>

  <body>
    <!-- bloc pour le contenu du la page -->
    <div class="all">
        <div class="sidebar">
           <div class="tof">
            <img src="{% static 'img/téléchargement (6).jpg' %}" alt="">
           </div>
            <ul>

                <li>
                    <a href="{% url 'dashboard_home' %}">Mes Annonces</a>
                    <hr>
                </li>
    
                <li>
                    <a href="{% url 'new_annonce' %}">Nouvelle annonce</a>
                   <hr>
                </li>
              
                    <li>
                        <a href="carhave.html">modifier</a>
                        <hr>
                    </li>
               
            </ul>
        </div>
        <main>
            {% block content %} 

            {% endblock content %} 
            
        </main>
    </div>

    <!-- bloc pour le script de la page  si nécessaire -->
    {% block script %} 

    {% endblock script %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>

</html>
