{% extends 'core/dash_base.html' %} 
{% load crispy_forms_tags %} 
{% load static %}



{% block content %} 

<h1>Annonce</h1>
<br>
            <div class="main">
               
                <div class="formulaire">
                    <form method="post", enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <h2>Voiture</h2>
                        {{form.voiture.as_p}}
                        <input type="file" placeholder="images" name="photos" accept="image/*" required multiple>
                        <input type="submit" class="btn btn-success"/>
                    </form>
                </div>
            
            </div>

{% endblock content %}
