{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% load static %}

{% block styles %}
<meta content="" name="description">
<meta content="" name="keywords">
<link href="{% static 'css/connexion.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %} 

 <!-- ======= Top Bar ======= -->
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-cente">
    
        <img src="{% static 'img/car.jpg' %}" alt="">
    
        <div class="liens">
            <a href="{% url 'home' %}">Home</a>
            
        </div>
    
    </header><!-- End Header -->
   <main>
    <div class="main">
        <div class="title">
            <h2>Bienvenue à vous</h2>
            <p>bien vouloir remplir le formulqire ci-contre merci!!!</p>
            </div>
            <div class="formulaire">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" placeholder="username" name="username" required >m
                    <input type="password" placeholder="password" name="password" required>
                    <button type = "submit">Sign In</button>
                    <button><a href="{% url 'register' %}">Register</a></button>
                    
                </form>
            </div>
      
    </div>
   </main>

{% endblock content %}

{% block script %}
<script src="{% static 'js/Detail.js' %}"></script>
{% endblock script %}
